# API Configuration
VITE_API_URL=http://localhost:3000/api

# Google OAuth Configuration
VITE_GOOGLE_CLIENT_ID=895906554670-9e92gjs809fr51q9ni1r4unh2b0e3pii.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_SECRET=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
VITE_GOOGLE_REDIRECT_URI=http://localhost:5173/email-sync
